<div class="contenedor text-center bg-dark text-white-50">
  <h1 class="text-primary">Mayor o Menor</h1>
  <div class="row">

    <div class="row pregunta">
      <p>¿La siguiente carta es mayor o menor que la carta que se ve en pantalla?</p>
    </div>

    <div class="col" *ngIf="cartaMostrada != undefined">
      <img class="carta-mostrada" title="carta" src="{{cartaMostrada.images['png']}}" >
    </div>

    <div class="col">
      <button class="btn btn-success botones" (click)="jugar('mayor')">MAYOR!!!</button>
      <button class="btn btn-success botones" (click)="jugar('menor')">MENOR!!!</button>
      <div class="row" style="padding-top: 35px;">
        <h2>Puntaje</h2>
        <h2>{{puntaje}}</h2>
      </div>

      <div class="row" *ngIf="contadorCartas == 52">
        <div class="col">
          <h1>Mazo Finalizado!!!</h1>
          <button class="btn btn-info botones" (click)="reset()">Reiniciar Juego</button>

        </div>
      </div>
    </div>
  </div>
</div>
