<div class="contenedor text-center bg-dark text-white-50">
    <div class="card bg-dark text-white-50">
        <div class="card-header">
            <img src="../../../assets/imagen-ahorcado.jpg" alt="imagen-desarrollador">
        </div>
        <div class="card-body">
            <h3 class="titulo">¡Bienvenidos!</h3>
            <p class="descripcion">
                Hola, mi nombre es Gianni Maggiori, tengo 31 años y actualmente me encuentro estudiando y perfeccionándome para ser programador. <br>
                Estudio en la Universidad Nacional Tecnológica - Facultad Regional Avellaneda, donde también me desenvuelvo como ayudante de cátedra.<br>
                Esta página es el resultado de un trabajo práctico de la materia Laboratorio de Computación IV, donde debemos realizar una sala de juegos que consiste en implementar <br>
                cuatro juegos de mesa clásicos:
                <br>
                * Ahorcado <br>
                * Mayor o Menor <br>
                * Preguntados <br>
                * El cuarto siendo un juego a elección <br>
                <br>
                ¡Espero les sea de agrado y se entretengan!
            </p>
        </div>
        <div class="card-footer foter">
            <h6 class="titulo-footer">Links de posible interes:</h6>
            <div class="botones">
                <a href="https://github.com/Maggiori-G" class="btn btn-success btn-lg" style="margin: 5px;">GitHub</a>
                <a href="https://www.linkedin.com/in/gianni-maggiori-b40189226/" class="btn btn-success btn-lg" style="margin: 5px;">LinkedIn</a>
            </div>
        </div>
    </div>
</div>