<div class="contenedor bg-dark border-0 h-100 text-white-50" *ngIf="palabra" style="margin: 0; padding: 0;">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-primary">Juego del Ahorcado</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="assets/ahorcadoAssets/{{intentos}}.png" class="ahorcado-img"/>
    </div>
    <div class="col">
      <h1 style="margin-bottom: 30px; padding-top: 25px;">{{palabraOculta}}</h1>
      <hr>
      <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary botones">{{letra.toUpperCase()}}</button>
      <hr>
      <h3>Intentos: <small>{{intentos}} / 9 </small></h3>
      <div class="row" *ngIf="gano">
        <div class="col text-center">
          <h1 class="text-success">Felicidades! Ganaste!!!</h1>
        </div>
      </div>
      <div class="row" *ngIf="perdio">
        <div class="col text-center">
          <h3 class="text-danger">¡Has perdido!</h3>
          <h4 class="text-success">La palabra correcta era: {{palabra}}</h4>
        </div>
      </div>
      <button class="btn btn-success" (click)="reset()" *ngIf="gano || perdio">Volver a Jugar!</button>
    </div>
  </div>
</div>