<div class="contenedor text-center bg-dark text-white-50">
    <div class="row contenedor-card">
        <div class="col">
            <div class="card text-white-50 carta" style="background-color: darkblue;">
                <img src="../../../assets/imagen-ahorcado.jpg" class="imagen" alt="img-ahorcado">
                <div class="card-body">
                    <h2 class="card-title titulo">Ahorcado</h2>
                    <p class="card-text descripcion">
                        El clásico juego del ahorcado. El objetivo del juego es simple: Adivina la palabra secreta antes de que quedarte sin intentos o serás ahorcado!!!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row contenedor-card">
        <div class="col">
            <div class="card text-white-50 carta" style="background-color: darkred;">
                <img src="../../../assets/high_low.jpeg" class="imagen" alt="img-ahorcado">
                <div class="card-body">
                    <h2 class="card-title titulo">Mayor o Menor</h2>
                    <p class="card-text descripcion">
                        Un entretenido juego de cartas donde deberás analizar si la siguiente carta es mayor o menor a la carta actual. Utilizá y agilizá tu memoria para ganar... y un poco de suerte!!!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row contenedor-card">
        <div class="col">
            <div class="card text-white-50 carta" style="background-color: darkgoldenrod;">
                <img src="../../../assets/preguntados.jpg" class="imagen" alt="img-ahorcado">
                <div class="card-body">
                    <h2 class="card-title titulo">Preguntados</h2>
                    <p class="card-text descripcion">
                        Un juego sobre conocimiento general! Una excelente forma de divertirse y aprender en familia donde deberás responder preguntas de distintas temáticas. La persona con la mayor cantidad de puntos gana!!!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row contenedor-card">
        <div class="col">
            <div class="card text-white-50 carta" style="background-color: darkgoldenrod;">
                <img src="../../../assets/preguntados.jpg" class="imagen" alt="img-ahorcado">
                <div class="card-body">
                    <h2 class="card-title titulo">Propio</h2>
                    <p class="card-text descripcion">
                        Work in progress
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

